<form>
  <div class="form-group">
    <label>client name</label>
    <input type="text" class="form-control" [(ngModel)]="clientName" name="clientName">
  </div>
  <div class="form-group">
    <label>client country</label>
    <input type="text" class="form-control" [(ngModel)]="clientCountry" name="clientCountry">
  </div>
  <input type="submit" class="btn btn-primary" value="get form link">
</form>