<!-- <div > *ngIf="user"
  <h2 class="page-header">{{user.name}}</h2>
  <ul class="list-group">
    <li class="list-group-item">Username: {{user.username}}</li>
    <li class="list-group-item">Email: {{user.email}}</li>
  </ul>
</div> -->


<section class="flex-wrap">
	<aside class="sidebar">
		<ul>
			<li class="sidebar-nav"><a [routerLink]="['/profile']">my profile</a></li>
			<li class="sidebar-nav"><a [routerLink]="['documents']">documents</a></li>
			<li class="sidebar-nav"><a [routerLink]="['training']">training</a></li>
			<li class="sidebar-nav"><a [routerLink]="['working']">working</a></li>
			<li class="sidebar-nav"><a [routerLink]="['support']">support</a></li>
		</ul>
		my referal: <a >ssilka na referal</a>
	</aside>

	<main>
		<router-outlet></router-outlet>		
	</main>
</section>